
@import url('https://fonts.googleapis.com/css?family=Domine&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.app{
    min-height: 100vh;
    position: relative;
    &--content{
        padding-bottom: 95px;
        min-height: 85vh;
    }
}

