.card{
    margin: 0 auto;
    padding-top: 25px;
    text-align: center;
    border-top: 1px solid black;
    &--title{
        font-size: 18px;
        font-weight: bold;
    }
    &--date{
        font-size: 14px;
        display: inline-block;
        padding: 0 15px;
    }
    &--mail{
        font-size: 14px;
    }
}