.card{
    width: 80%;
    display: grid;
    grid-template-columns: auto auto;
    margin: 50px auto;
    border: 1px solid black;
    max-width: 800px;
    &--link{
        text-decoration: none;
        color: black;
        height:  100%;
        display: inline-block;
    }
    &--img{
        text-align: left;
        padding: 0;
        margin: 0;
        height: 100%;
        width: auto;
        &__title{
            position: absolute;
            background-color: #65B3F2;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            text-align: center;
            margin-top: 0;
            padding-top: 0;
            padding: 5px 10px;
            width: 120px;
            font-family: 'Domine', serif;
        }
        &__element{
            padding: 0;
            margin: 0;
            height: 100%;
            max-height: 250px;
            display: flex;
            width: 350px;
        }    
    }
    &--description{
        padding: 15px 15px 0;
        text-align: center;
        position:relative;
        font-family: 'Montserrat', sans-serif;
        &__btn{
            position: absolute;
            right: 0;
            bottom:   0;
            padding: 10px 15px;
        }
    }
}

#hotel_id{
    visibility: hidden;
}

@media( max-width: 765px ){
    .card{
        display: flex;
        flex-direction: column;
        &--img{
            text-align: left;
            padding: 0;
            margin: 0;
            &__title{
                position: absolute;
                background-color: #65B3F2;
                border-bottom: 1px solid black;
                border-right: 1px solid black;
                text-align: center;
                margin-top: 0;
                padding-top: 0;
                padding: 5px 10px;
            }
            &__element{
                padding: 0;
                margin: 0;
                height: 220px;
                width: 100%;
            }    
        }
        &--description{
            text-align: center;
            position:relative;
            &__btn{
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                padding: 10px 15px;
            }
        }
    }
}