<div class="[ card ]">
  <div class="[ card--img ]">
    <p class="[ card--img__title ]">{{ establishments.type }}</p>
    <img class="[ card--img__element ]" [src]=establishments.imageUrl alt='establishment image'>
  </div>
  <div class="[ card--description ]">
    <p class="[ card--description__text ]">{{ establishments.establishmentName }}</p><hr>
    <p class="[ card--description__text ]">{{ establishments.description }}</p>
    <p class="[ card--description__text ]">${{ establishments.price }},-</p>
    <p id="hotel_id">{{establishments.id}}</p>
    <a [routerLink]="['hotel']" [queryParams]="{id: specificId.id }" class="[ card--description__btn ]">Go to {{ establishments.establishmentName }}</a>
  </div>
</div>
