.enquiry{
    width: 450px;
    background-color: #65B3F2;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    padding: 20px 10px; 
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.602);
    &--title{
        font-family: 'Domine', serif;
        font-size: 20px;
        display: block;
        margin: 0 0 15px 0;
        border-bottom: 1px solid black;
    }
    &--label{
        font-family: 'Domine', serif;
        font-size: 16px;
    }
    &--input{
        display: block;
        margin: 0 auto 15px;
        padding: 0 0 0 5px;
        width: 60%;
    }
    &--error{
        color: rgb(146, 8, 8);
        padding-bottom: 5px;
        margin-bottom: 5px;
        margin-top: -15px;
    }
}

@media ( max-width: 545px ){
    .enquiry{
        width: 85%;
    }
}